@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap');
/* Yellow color is #fff952 */

:root {
	background: #f5f5f5;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Asap Condensed';
}

html {
	height: 100%;
}

section {
	position: relative;
	min-height: 100%;
	background-color: #f5f5f5;
}

header {
	background-color: #f5f5f5;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 10;
	height: 165px;
}

.sebastian {
	font-family: 'Playfair Display';
	font-size: 67px;
	margin-left: 40px;
	margin-bottom: -35px;
}

.boyse {
	font-family: 'Playfair Display';
	font-size: 67px;
	margin-left: 101px;
	margin-top: 0px;
	padding-bottom: 0px;
}

.yellow-logo-block {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(60, 57, 46, 1) 0%,
		rgba(255, 249, 82, 1) 0%,
		rgba(255, 162, 0, 1) 95%
	);
	height: 70px;
	width: 353px;
	margin-top: -98px;
	margin-left: 0;
}

.logo-tagline {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 2px;
	margin-left: 30px;
	margin-top: 30px;
}

.yellow-nav-block {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(255, 162, 0, 1) 0%,
		rgba(255, 205, 0, 1) 40%,
		rgba(255, 249, 82, 1) 98%
	);
	height: 70px;
	width: 790px;
	margin-top: -113px;
	margin-left: 20px;
	float: right;
}

.nav-links {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: 400;
	font-size: 10px;
	letter-spacing: 2px;
	float: right;
	display: inline-flex;
	list-style: none;
	text-decoration: none;
	margin-right: 8em;
	margin-top: -84px;
	width: 60em;
	justify-content: space-between;
}

.nav-link {
  font-family: 'Montserrat';
	text-decoration: none;
	color: black;
}

.nav-link-bold {
  font-family: 'Montserrat';
	text-decoration: none;
	color: black;
  font-weight: bold;
}

.intro-quote-div {
	position: relative;
	top: 125px;
	height: 150px;
	width: 100%;
	background-color: #f5f5f5;
}

.text-idea {
	font-family: 'Montserrat';
	position: absolute;
	font-weight: 200;
	color: #464646ec;
  /* color: black; */
	top: 80px;
	right: 250px;
	font-size: 17px;
	transition: 250ms ease-in-out;
}

.text-idea:hover {
	position: absolute;
	color: #242424;
	font-size: 19px;
}

/* INTRO QUOTE SECTION ENDS */

/* 1st TEXT SECTION */
.parent-div-left {
	position: absolute;
	top: 275px;
	height: 440px;
	width: 100%;
	background-color: #f5f5f5;
}

.about-me {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 2px;
	position: absolute;
	color: #353535;
	top: 40px;
	left: 570px;
	text-transform: uppercase;
	/* animation stuff */
	transform: translateX(-360%);
	transition: transform 250ms cubic-bezier(0.54, 0.74, 0.01, 1.52) 10s;
}

.parent-div-left:hover .about-me {
	transform: translateX(5%);
  transition-delay: 0s;
}

.div-left {
	position: absolute;
	top: 75px;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(255, 162, 0, 1) 0%,
		rgba(255, 205, 0, 1) 40%,
		rgba(255, 249, 82, 1) 98%
	);
	height: 350px;
	width: 800px;
	box-shadow: -10px 10px #211924;
	/* animation stuff */
	transform: translateX(-100%); /* this hides the div to the left */
	transition: transform 500ms cubic-bezier(0.52, 0.2, 0.37, 1.32) 10s;
}

.parent-div-left:hover .div-left {
	transform: translateX(5%);
  transition-delay: 0s;
}

.hi {
	font-weight: bold;
	font-size: 35px;
	padding-left: 35px;
	padding-top: 20px;
	text-align: center;
}

.intro-text {
	font-weight: 00;
	font-size: 17px;
	padding: 25px;
	width: 800px;
	line-height: 1.5em;
	text-align: left;
}

mark {
	font-weight: bold;
	background: none;
}

.developer-svg {
  float: right;
  width: auto;
  height: 13rem;
  margin-right: 7rem;
  margin-top: 8rem;
}

.snowboarder-svg {
  float: right;
  width: auto;
  height: 13rem;
  margin-right: 7rem;
  margin-top: 8rem;
}

/* 1st TEXT SECTION ENDS */

/* 2nd TEXT SECTION */
.parent-div-right {
	position: relative;
	background-color: #f5f5f5;
	top: 630px;
	height: 430px;
	width: 100%;
}

.skills {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 2px;
	position: absolute;
	color: #353535;
	top: 10px;
	left: 540px;
	text-transform: uppercase;
	/* animation stuff */
	transform: translateX(-360%);
	transition: transform 250ms cubic-bezier(0.54, 0.74, 0.01, 1.52) 10s;
}

.parent-div-right:hover .skills {
	transform: translateX(5%);
  transition-delay: 0s;
}

.div-right {
	position: absolute;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(255, 162, 0, 1) 0%,
		rgba(255, 205, 0, 1) 40%,
		rgba(255, 249, 82, 1) 98%
	);
	top: 50px;
	height: 350px;
	width: 800px;
	box-shadow: -10px 10px #000000;
	/* animation stuff */
	transform: translateX(-100%); /* this hides the div to the left */
	transition: transform 500ms cubic-bezier(0.52, 0.2, 0.37, 1.32) 10s;
}

.parent-div-right:hover .div-right {
	transform: translateX(5%);
  transition-delay: 0s;
}

.hi2 {
	font-weight: bold;
	font-size: 35px;
	padding-left: 35px;
	padding-top: 20px;
	text-align: center;
}

.intro-text2 {
	font-weight: 00;
	font-size: 17px;
	padding: 25px;
	width: 800px;
	line-height: 1.5em;
	text-align: left;
}

.logos-container {
	display: flex;
	flex-wrap: wrap;
	height: 430px;
	width: 423px;
	float: right;
	justify-content: center;
}

.node-js {
	width: auto;
	height: 40px;
}

.html-logo {
	width: auto;
	height: 90px;
}

.css-logo {
	width: auto;
	height: 90px;
  margin-left: 20px;
}

.js-logo {
	width: auto;
	height: 80px;
  margin-top: 5px;
}

.react {
	width: auto;
	height: 90px;
  margin-right: 15px;
}

.express-js {
	width: auto;
	height: 90px;
}

.sql-logo {
	width: auto;
	height: 50px;
}

.mongo {
  width: auto;
  height: 40px;
}

.postgres {
  width: auto;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.github {
  width: auto;
  height: 40px;
}

/* 2nd TEXT SECTION END */

/* 3rd TEXT SECTION */
.parent-div-left-2 {
	position: absolute;
	top: 1250px;
	height: 450px;
	width: 100%;
	background-color: #f5f5f5;
}

.what-i-love {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 2px;
	position: absolute;
	color: #353535;
	top: 40px;
	left: 630px;
	text-transform: uppercase;
	/* animation stuff */
	transform: translateX(-460%);
	transition: transform 250ms cubic-bezier(0.54, 0.74, 0.01, 1.52) 10s;
}

.parent-div-left-2:hover .what-i-love {
	transform: translateX(5%);
  transition-delay: 0s;
}

.div-left-2 {
	position: absolute;
	top: 75px;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(255, 162, 0, 1) 0%,
		rgba(255, 205, 0, 1) 40%,
		rgba(255, 249, 82, 1) 98%
	);
	height: 70px;
	height: 350px;
	width: 800px;
	box-shadow: -10px 10px #211924;
	/* animation stuff */
	transform: translateX(-100%); /* this hides the div to the left */
	transition: transform 500ms cubic-bezier(0.52, 0.2, 0.37, 1.32) 10s;
}

.parent-div-left-2:hover .div-left-2 {
	transform: translateX(5%);
  transition-delay: 0s;
}

.hi-2 {
	font-weight: bold;
	font-size: 35px;
	padding-left: 35px;
	padding-top: 20px;
	text-align: center;
}

.intro-text-2 {
	font-weight: 00;
	font-size: 17px;
	padding: 25px;
	width: 800px;
	line-height: 1.5em;
	text-align: left;
}

/* 3rd TEXT SECTION ENDS  */

/* mailing list */
/* 
.container {
  position: relative;
  top: 300px;
  margin-top: 550px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.container p {
  max-width: 500px;
  margin: 40px auto;
  font-size: 17px;
  font-weight: 300;
}

.email-box {
  height: 40px;
  justify-content: center;
  display: inline-flex; /*its better to use inline-flex*/
/* }
.email-box i {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 162, 0, 1) 0%,
    rgba(255, 205, 0, 1) 40%,
    rgba(255, 249, 82, 1) 98%
  );
  height: 40px;
  width: 40px;
  line-height: 40px;
  box-shadow: 10px 10px #211924;
}
.tbox,
.btn {
  border: none;
  outline: none;
}
.tbox {
  width: 0px;
  transition: 0.6s;
}
.email-box:hover > .tbox,
.tbox:focus {
  width: 260px;
  padding: 0 10px;
}
.btn {
  background: rgba(255, 249, 82, 1);
  height: 40px;
  color: black;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 10px 10px #211924;
} */

/* mailing list ENDS */

/* PROJECTS PAGE STARTS */

.parent-container {
	margin-top: 100px;
	color: blueviolet;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.projects-div {
	position: relative;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(255, 162, 0, 1) 0%,
		rgba(255, 205, 0, 1) 40%,
		rgba(255, 249, 82, 1) 98%
	);
	height: 350px;
	width: 800px;
	box-shadow: -10px 10px #211924;
}

/* PROJECTS PAGE ENDS */


/* WORK PAGE STARTS */

.errorContainer {
	margin-top: 20rem;
}

.errorText1 {
	color: #000000;
	text-align: center;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.errorText2 {
	color: #000000;
	text-align: center;
	font-family: 'Montserrat';
	font-weight: 400;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 2px;
	margin-top: 5px;
}
